.home{
    margin: 30px ;
    font-size: 25px ;
    letter-spacing: 1.5;
    display:flex;
    justify-content: space-between;
}
.home-span{
    color: #1337ff;
}
.homeWidgets{
    display: flex;
    margin: 20px;
}

