.widgetLg {
    flex: 2;
    padding: 20px;
    height: auto;
  }
  
  .widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
  }
  
  .widgetLgTable{
    width: 100%;
    border-spacing: 20px;
  }
  
  .widgetLgTh{
    text-align: left;
  }
  
  .widgetLgUser{
    display: flex;
    align-items: center;
    
  }
  .widgetLgName{
    font-size: 22px ;
  }
  .widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .widgetLgDate,.widgetLgAmount,.widgetLgNam{
    font-weight: 300;
  }
  .livreur{
    border: 1px solid;
    width: 150px ;
    height: 25px ;
    text-align: center;
    border-radius: 5px ;
  }
  .confirmer{
    padding: 7px ;
    border-radius: 5px ;
    background-color:transparent;
    cursor: pointer;
    color: #3bb077;
  }
  .widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
  }
  .date{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 25px ;
    color: #3e31f8;
  }
  .widgetLgButton.Confirmer{
      background-color: #e5faf2;
      color: #3bb077;
  }
  .widgetLgButton.en_route{
      background-color: #fff0f1;
      color: #d95087;
  
  }
  
  